.card{
    background-color: #2a2a2d;
    margin: 20px 0;
    padding: 10px 20px;
}

.img{
    display:block;
    margin: 0 auto;
}

.heading{
    text-align: center;
    font-size: 1.5em;
    color: #d1d1d9;
    margin: 10px; 
}

